python-dateutil
pyjson5
eventlet

pip
wheel
Jinja2
setuptools
certifi
six
requests
websocket-client
gevent
idna
urllib3
bidict
Flask
flask-socketio
python-socketio
mysql-connector-python
python-dotenv